.my-day-main-container {
    background: #FFFFFF;
    position: relative;
    width: 100%;
    height: 100%;
}
.my-day-loading-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.my-day-setup-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.my-day-setup-left {
    position: absolute;
    width: 65%;
    height: 100%;
    left: 0;
    overflow: hidden;
}
.my-day-setup-right {
    position: absolute;
    width: 35%;
    height: 100%;
    right: 0;
    background-color: var(--pale-grey);
    overflow-y: auto;
}
.my-day-setup-right-title {
    position: absolute;
    left: 30px;
    top: 20px;
    font-family: Nunito;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    color: #514290;
}
.my-day-setup-welcome {
    position: relative;
    top: 48px;
    left: 48px;
    font-family: Nunito;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #030163;
    user-select: none;
}
.my-day-free-time {
    position: absolute;
    top: 86px;
    left: 48px;
    font-family: Nunito;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5a6383;
    user-select: none;
}
.my-day-free-explanation {
    position: absolute;
    top: 128px;
    left: 48px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5a6383;
}
.availability-times-list {
    position: absolute;
    padding: 0;
    top: 204px;
    left: 48px;
    min-width: 340px;
    list-style: none;
    user-select: none;
}
.availability-times-list li {
    position: relative;
    display: inline-block;
    min-width: 120px;
    height: 50px;
}
.my-day-setup-actions-list {
    position: absolute;
    padding: 0;
    top: 287px;
    left: 48px;
    list-style: none;
    user-select: none;
}
.my-day-setup-actions-list li {
    font-family: Nunito;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #514290;
    padding-bottom: 2px;
}

.my-day-setup-button-position {
    position: absolute;
    bottom: 25px;
    left: 48px;
}
.setup-day-done-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
}
.setup-day-done-logo {
    position: relative;
    display: table;
    margin: auto;
    top: 110px;
    user-select: none;
}
.setup-day-done-message {
    position: relative;
    display: table;
    margin: auto;
    top: 90px;
    font-family: Nunito;
    color: #6D63A6;
    user-select: none;
}