@font-face {
    font-family: Nunito;
    src: url(./Nunito-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: Nunito;
    src: url(./Nunito-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

/*body{*/
/*    background-color: transparent;*/
/*}*/
