.my-status-container {
    background: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 100%;
}
.my-status-circular-progress {
    position: relative;
    display: table;
    margin: auto;
    top: 34px;
    width: 150px;
    height: 150px;
}
.my-status-time-remaining {
    position: relative;
    display: table;
    margin: auto;
    width: 95px;
    height: 42px;
    top: 48px;
    font-family: Nunito;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--dusk);
    user-select: none;
}
.my-status-title-dropdown {
    position: relative;
    display: table;
    margin: auto;
    top: 54px;
}
.my-status-title {
    position: relative;
    border-radius: 5px;
    padding: 8px 36px 8px 20px;
    background: var(--purple-5);
    font-family: Nunito;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.24px;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    user-select: none;
    -webkit-user-drag: none;
}
.my-status-title-chevron {
    position: absolute;
    right: 16px;
    top: 15px;
    width: 12px;
    height: 7px;
    user-select: none;
}

/** Change current status **/
.change-current-status-container {
    background: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.change-current-status-options-list {
    position: absolute;
    padding: 0;
    width: 368px;
    list-style: none;
    user-select: none;
}
.change-current-status-options-list li {
    position: relative;
    width: 368px;
    list-style: none;
    user-select: none;
    padding-bottom: 86px;
}

/** Change status drop down item**/
.change-status-dropdown-item-container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.change-status-dropdown-item-left {
    position: absolute;
    width: 36%;
    height: 100%;
}
.change-status-dropdown-item-status-indicator {
    position: relative;
    display: table;
    margin: auto;
    top: 20px;
    width: 102px;
    height: 23px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 4px 0 0 0;
    color: var(--white);
    border-radius: 5px;
}
.change-status-dropdown-item-status-until {
    position: absolute;
    top: 48px;
    width: 100%;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color: #6D63A6;
}
.change-status-dropdown-item-right {
    position: absolute;
    width: 64%;
    height: 100%;
    right: 0;
}
.change-status-dropdown-item-status-main-message {
    position: absolute;
    top: 21px;
    width: 100%;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #030163;
}
.change-status-dropdown-item-status-secondary-message{
    position: absolute;
    top: 38px;
    width: 100%;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #322279;
}