.onboarding-container {
    background: #FFFFFF;
    position: relative;
    width: 100%;
    height: 100%;
}

.slide-enter {
    transform: translateX(100%);
    transition: transform 800ms;
}
.slide-enter-active {
    transform: translateX(0);
    transition: transform 800ms;
}
.slide-exit {
    transform: translateX(0);
    transition: transform 800ms;
}
.slide-exit-active {
    transform: translateX(-100%);
    transition: transform 800ms;
}

.main-title {
    position: absolute;
    top: 34px;
    left: 91px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: var(--dark-blue);
}
.secondary-title {
    position: absolute;
    top: 72px;
    left: 91px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: var(--dusk);
}
.confirm-button-position {
    position: absolute;
    bottom: 27px;
    left: 91px;
}
.onboarding-text-field {
    width: 332px;

}

/** User Profile **/
.user-profile-container {
    position: fixed;
    width: 100%;
    height: 100%;
}
.user-profile-fields {
    position: absolute;
    padding: 0;
    top: 116px;
    left: 91px;
    list-style: none;
    user-select: none;
}
.user-profile-fields li {
    padding-bottom: 16px;
}

/** Availability Profile **/
.availability-profile-container {
    position: fixed;
    width: 100%;
    height: 100%;
}
.availability-profile-left {
    position: absolute;
    width: 67.5%;
    height: 100%;
    left: 0;
    overflow: hidden;
}

.availability-profile-right {
    position: absolute;
    width: 32.5%;
    height: 100%;
    right: 0;
    background-color: var(--pale-grey);
    overflow-y: auto;
}
.user-availability-profile-fields {
    position: absolute;
    padding: 0;
    top: 116px;
    left: 91px;
    list-style: none;
    user-select: none;
}
.user-availability-profile-fields li {
    padding-bottom: 16px;
}

/** Calendar Integration **/
.calendar-integration-container {
    position: fixed;
    width: 100%;
    height: 100%;
}
.integration-context-title {
    position: absolute;
    right: 462px;
    top: 166px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: right;
    color: var(--purple-6);
}
.integration-context-list {
    position: absolute;
    right: 490px;
    top: 199px;
    padding: 0 0 0 0;
}
.integration-context-list li {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    list-style: none;
    user-select: none;
    color: var(--blue-9);
    padding: 7px 0 0 0;

}
.integration-rings-container {
    position: absolute;
    top: 153px;
    left: 302px;
    width: 160px;
    height: 160px;
}
.integration-rings-ring1 {
    position: absolute;
    left: 2%;
    right: 2%;
    top: 0%;
    bottom: 4%;
    background: #CCFFF0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
    border-radius: 50%;
}
.integration-rings-ring2 {
    position: absolute;
    left: 18%;
    right: 18%;
    top: 16%;
    bottom: 20%;
    background: #88FFEA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
    border-radius: 50%;
}
.integration-rings-ring3 {
    position: absolute;
    left: 34%;
    right: 34%;
    top: 32%;
    bottom: 36%;
    background: #00F2FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
    border-radius: 50%;
}
.integration-teleport-white-logo {
    position: absolute;
    left: 40.5%;
    right: 40.5%;
    top: 40.5%;
    bottom: 44.07%;
}
