:root {
    --status-busy: #7e83a3;
    --purple-3: #b441f5;
    --blue-1: #efeffc;
    --blue-2: #dbdbf1;
    --blue-4: #b4b3da;
    --blue-6: #8985bd;
    --neutral-2: #e9edf1;
    --neutral-4: #cfd2dc;
    --neutral-6: #a8a9be;
    --indigo: #41009d;
    --iris: #6d63a6;
    --dusk-blue: #322279;
    --pink-purple: #e127eb;
    --vivid-purple: #8800f0;
    --cyan: #00f2ff;
    --white: #ffffff;
    --dusk: #5a6383;
    --blue-grey: #8e8e93;
    --pale-grey: #f7f9fa;
    --blueberry: #514290;
    --dark-blue: #030163;
    --pink-3: #f45eea;
    --purple-5: #6100c6;
    --blue-5: #a1a0cf;
}

body {
    -webkit-app-region: drag;
    border-radius: 250px;
    margin: 0;
    width: inherit;
    height: inherit;
    background-color: transparent;
}
#root {
    width: 100%;
    height: 100%;
}

.confirm-button {
    height: 30px;
    padding: 16px 46px 16px 46px;
    border-radius: 3px;
    background: var(--purple-5);
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    user-select: none;
    -webkit-user-drag: none;
}
.confirm-button:active {
    background: #41009d;
}


/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
